@title{Datapack}@title

@body{
        <!--https://drive.google.com/uc?id=_ID_&export=download-->
<h1>Datapack</h1>
<p>Here are datapacks for Minecraft 1.19 <br></p>
<h2>Arrow Pack</h2>
<p><a href="https://drive.google.com/uc?id=_ID_&export=download">Download</a></p>
<h2>Novoid Pack</h2>
<p><a href="https://drive.google.com/uc?id=_ID_&export=download">Download</a></p>
<h2>Adamons Pack</h2>
<p><a href="https://drive.google.com/uc?id=_ID_&export=download">Download</a></p>
}@body