@title{Home Page}@title

@body{
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    
    <!--<div class="btn-group-vertical">
        <button type="button" class="btn btn-secondary">1</button>
    </div>-->

    <!--
    <div class="left_sidebar" id="left_sidebar">
        <ul>
            <li class="side_button"><a href="https://www.roblox.com" target="_blank" class="side_button button">Roblox &raquo;</a></li>
            <li class="side_button"><a href="https://innersloth.com/gameAmongUs.php" target="_blank" class="side_button button"><div style="display: inline-block; width: 200px;">Among Us &raquo;</div></a></li>
            <li class="side_button"><a href="https://www.minecraft.net/en-us" target="_blank" class="side_button button"><div style="display: inline-block; width: 200px;">Minecraft &raquo;</div></a></li>
            <li class="side_button"><a href="https://playvalorant.com/en-us/" target="_blank" class="side_button button"><div style="display: inline-block; width: 200px;">Valorant &raquo;</div></a></li>
            <li class="side_button"><a href="https://na.leagueoflegends.com/en-us/" target="_blank" class="side_button button"><div style="display: inline-block; width: 200px;">League Of Legends &raquo;</div></a></li>
            <li class="side_button"><a href="https://www.rocketleague.com/" target="_blank" class="side_button button"><div style="display: inline-block; width: 200px;">Rocket League &raquo;</div></a></li>
        
            </ul>
            </div>-->

    <iframe class="discord_widget" id="discord_widget" src="https://discord.com/widget?id=781646384175644722&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>}@body