@title{Datapacks}@title

@body{
        <!--https://drive.google.com/uc?id=_ID_&export=download-->
<h1>Datapacks</h1>
<p>Here are datapacks for Minecraft 1.19 <br></p>
<h2>Arrow Pack</h2>
<p>This pack contains arrows of different types. Using the fletcher table, some arrows, and some slime balls, you can create arrows with unique properties.</p>
<p><a href="https://drive.google.com/uc?export=download&id=1Zcz1Sz2ep8h7_xKnGLk5FO0kDe0j2IYS" download>Download</a> Arrow Pack</p>
<h2>Novoid Pack</h2>
<p>This pack prevents death by the void in the by connecting the overworld with the end.</p>
<p><a href="https://drive.google.com/uc?export=download&id=1TS8vmIAX189YiWC_DfvDurMQaN5fD1go" download>Download</a> Novoid Pack</p>
<h2>Adomons Pack</h2>
<p>This pack has many addons that make the game somewhat more difficult, along with adding some other features.</p>
<p><a href="https://drive.google.com/uc?export=download&id=13_kbBEvSVO_cK21uDf1hOEjOvlB9q1K7" download>Download</a> Adomons Pack</p>
}@body