*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body{
    background-color: rgb(230, 230, 230);
}

#drop{
    background-color: rgb(210, 210, 210);
}

input{
    caret-color: rgb(120, 120, 120);
    color: rgb(120, 120, 120);
    background-color: rgb(210, 210, 210);
    border: 1px solid rgb(210, 210, 210);
    outline: none !important;
}

input:focus{
    background-color: rgb(200, 200, 200);
}