.App {
    height: 80%;
}

.App .text {
    color: #c9c9c9;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.App .interact:hover {
    color: #ffffff;
    color: rgba(255, 255, 255, 1);
}